.collage{
    width: 220px;
    height: 220px;
    border: 2px solid black;
    margin: 30px; //отступы снаружи
    position: relative;

    &__image{
        width: 200px;
        height: 200px;
        border: 1px solid red;
        position: absolute; //дает возможность управления положением элементами и ищет выше родительский элемент с position: relative
        left: 0;
        top: 0;
        transition: 0.3s;//скорость перехода

        &:hover{
            z-index: 1; //при наведении на конкретную картинку задает ей индекс 1 (выносит на верх) остальным 0 (они ниже)
            transform: scale(1.1) translateX(30px); //изменение положения элемента по осям с помощью координат translate - перемещение, scale - масштаб
        }//свойство трансформ работает визуально для пользователя тоесть для браузера изображение остается в том же месте и не меняет своего размера

        &_first{ //модификатор
            left: 0;
            top: 0;
        }

        &_second{ //модификатор
            left: 10px;
            top: 10px;
        }

        &_third{ //модификатор
            left: 20px;
            top: 20px;
        }
    }
}

.modal{
    margin: 30px;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 15px 0 black;
    position: relative;

    &::after{//псевдоэлемент1
        content: '_';//обязательное свойство для псевдоэлемента
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background:blue;
        color: white;
        font-weight: bold;
        position: absolute;//дает возможность управления положением элементами и ищет выше родительский элемент с position: relative
        right: 15px;
        top: -10px;
        box-shadow: 0 0 5px 0 gray;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &::before{//псевдоэлемент2
        content: '\2744';//обязательное свойство для псевдоэлемента (внутри спецсимвол из таблиц html)
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background:red;
        color: white;
        font-weight: bold;
        position: absolute;//дает возможность управления положением элементами и ищет выше родительский элемент с position: relative
        right: -10px;
        top: -10px;
        box-shadow: 0 0 5px 0 gray;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.clip{
    width: 200px;
    height: 100px;
    //background-image: url('../images/02.jpg');
    background: linear-gradient(to right, green, red);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 30px;
    clip-path: polygon(0 0, 100% 50%, 0 100%);//свойство для изменения формы  (координаты точек через запятую, остальное отрезает, можно в процентах от размера объекта) //circle (R at x y ) ellipse
}

.container{
    width: 90%;
    border: 2px solid red;
    margin: 30px;
    display: inline-flex;
    flex-direction: row; //или column но justify-content и align-items меняют направления, если row-reverse или column-reverse - выставит в опратном порядке
    justify-content: space-around; //space-between без отступов слева и справа (горизонталь)
    align-items: center; //flex-start или flex-end вниз и вверх (вертикаль)
    flex-wrap: nowrap;
    height: 300px;
//    padding: 0 20px; //отступы слева и справа
//    box-sizing: border-box;

    &__item{
        width: 100px;
        height: 100px;
        background-color: gray;
        color: white;
        font-size: 20px;
        font-weight: bold;
        //display: inline-block;//выставляет элементы в строку с возможностью устанавливать размеры дивам, если не использовать флекс
    }
}